{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block head %}
    <p>
        Booking Page  
    </p>
    {% endblock %}

    {% block content %}   
            <div class="col-md-6">
                <span>User* Details</span>
                <center>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                           <div class="container-fluid  ">
                            <p>form</p>
                            <!-- {% for field in form %} -->
                                <tr>
                                    <th>{{ form.as_p}}</th>
                                    <td>{{ field }}</td>  </tr>
                            <!-- {% endfor %} -->
                            </table>
                       
                        <button class="btn btn-lg btn-success md-5" type="submit">Upload</button>
                    
                           </div>
                    </form>
                </center>
            </div>
        </div>
        
    </div> 
   
    {% endblock %}
</body>
</html>