{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    <table>  
        <tr>
            {% for field in form %}
            <th>{{ field.label }}</th>
            <td>{{ field }}</td>  </tr>
            {% endfor %}
    </table>

    <span>Hearse Details</span> 
    {% if hearse_row %}
    <div class="card text-dark" style="width: 450px" >
        <span>Hearse Details</span>  
        <img src="{{ hearse_row.hearse_image.url }}" alt="hearse" class="b-imag">
        <div class="card-body">
          <p class="card-title p-1 m-1">Telepone: {{ hearse_row.driver_phone }}</p>
          <span class="text-sm m-1">Model: {{ hearse_row.model}}</span><br>
          <span class="card-text text-sm">{{hearse_row.description}}</span>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>
    {% endif %}
</div> 
</body>
</html>