{% extends 'index.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid">
        <div class="container">
            {% if messages %}
    
                {% for message in messages %}
                
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Oops!{{ message }} </strong> 
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
  
            {% endif %}
    </div>
   <div class="container text-center">
    
    <form method="post" action="{% url 'register' %}" id="form" class="form-control" enctype="multipart/form-data">
        <h3 class="text-center text-dark p-2 m-2">Signup</h3>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Register" class="btn btn-primary">
        <!-- <a href="{% url 'login' %}" class="btn btn-danger">login</a> -->
        <p>Have account? <a href="{% url 'login' %}" class="text-decoration-none">login</a></p>
    </form>
   </div>
</div>
{% endblock %}